.textGlacial
{
  font-family: Glacial Indifference, sans-serif;
}
.textPoppins
{
  font-family: Poppins, sans-serif;
}
.changementDeLangue
{
  color: white;
  font-size: 18px;
}
#titresHeaderCV
{
 line-height: 20px;
}
#nomPrenomCV
{
  font-size: 30px;
  font-family: Poppins, sans-serif;
  text-align: center;
  color: #1c77be;
  margin-bottom: 10px;
}
#metierCV
{
  font-size: 25px;
  font-family: Poppins, sans-serif;
  text-align: center;
  font-weight: normal;
  color: #1c77be;
}
#descriptionProfil
{
  font-size: 16px;
  font-family: Glacial Indifference, sans-serif;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
}
#headerCV
{
  display: grid;
  grid-template-columns: 36% 64%;
}
#photoProfilCV
{
  margin-left: 40px;
}
#headerCVGauche
{
  display: grid;
  grid-template-rows: 30px 1fr;
  background-color: #1c77be;
  background-size: auto;
}
#corpsCV
{
  display: grid;
  grid-template-columns: 36% 64%;
}
.articleCVGauche
{
  text-align: justify;
  font-family: Poppins, sans-serif;
  margin-left: 10px;
}
h3
{
  font-size: 19px;
  text-align: center;
  font-family: Poppins, sans-serif;
  margin-top: 28px;
  margin-bottom: 26px;
}
.articleGaucheCV
{
  font-size: 13px;
  color: white;
  font-family: Poppins, sans-serif;
}
.articleCV
{
  font-size: 13px;
  color: #737373;
  margin-left: 15%;
  margin-right: 15%;
}
.titreArticleCV
{
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 19px;
  font-weight: normal;
  color: #1c77be;
  margin-top: 18px;
}
#sectionGaucheCV
{
  background-color: #1c77be;
}
#listeAtoutCV
{
  display: grid;
  grid-template-columns: 55% 45%;
  margin-left: 15%;
  margin-right: 5%;
  line-height: 30px;

}
.atoutCV
{
  color: #646464;
  font-family: Glacial Indifference, sans-serif;
  font-size: 13px;
}
.dateExperiencesCV
{
  font-family: Glacial Indifference, sans-serif;
  color: #646464;
  font-weight: bold;
  font-size: 12px;
}
.enseigneExperiencesCV
{
  font-family: Glacial Indifference, sans-serif;
  color: #020202;
  font-weight: bold;
  margin-top: 10px;
  font-size: 12px;
}
.experiencesCV
{
  display:grid;
  grid-template-columns: 27% 73%;
  margin-left: 12%;
  margin-right: 12%;
}
.titreExperiencesCV
{
  font-family: Glacial Indifference, sans-serif;
  color: #1c77be;
  font-size: 11px;
  margin-left: 5px;
}
.texteExperiencesCV
{
  font-family: Glacial Indifference, sans-serif;
  color: #646464;
  font-size: 11px;
}
#imageDesignCVTop
{
  float: right;
}
#imageDesignCVBottom
{
  float: right;
}
.page-a4 {
  width: 210mm;
  height: 297mm;
  margin: 10mm auto; /* Marge pour l'affichage écran */
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Inclut padding et bordures dans la taille */
}
.listeExperiencesCV
{
  line-height: 20px;
}
#articleDroite3CV
{
  background-image: url("../CVSiteWeb/imageCV/designCVBottom.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 400px;
}
header
{
  background-image: url("../CVSiteWeb/imageCV/designCVTop.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 400px;
}
#photoProfilCV
{
  width: 150px;
  margin-left: 50px;
  margin-top: 30px;
  border-radius:100px;
}
