<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Boutique</title>
        <link media="all" rel="Stylesheet" href="../css/style.css">
        <script src="https://kit.fontawesome.com/bd703cce6d.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <p id="bandePromo">Livraison gratuite dans toute la Belgique à partir de 40€ d'achat !</p>
            <div id="headerF1Shop">
                <a href="accueil.html">
                    <img id="logoF1Shop" src="../images/logoF1Shop.png" alt="logo site f1forfans">
                </a>
                <nav>
                    <a href="boutique.html" class="textBleuHeader">Boutique</a>
                    <a href="../view/accueil.html#classementEquipe" class="textBleuHeader">Equipes</a>
                    <a href="../view/accueil.html#classementPilote" class="textBleuHeader">Pilotes</a>
                    <a href="../view/accueil.html#bonsPlans" class="textBleuHeader">Bon plans</a>
                </nav>
            </div>
        </header>
        <section>
            <article>
                <h1>EN CONSTRUCTION</h1>
            </article>
        </section>
        <footer>
            <div id="footerF1Shop">
                <div>
                    <h3>Nos boutiques :</h3>
                    <ul>
                        <li>36 Rue du Circuit, 6404 VroumVille</li>
                        <li>154 Chemin du Drift, 7214 Motoria</li>
                        <li>99 Avenue du pare-choc Froissé, 5412 Klaxon-les-Pins</li>
                    </ul>
                </div>
                <div id="contactF1Shop">
                    <a><i class="fa-solid fa-envelope"></i>F1forfans@hotmail.com</a>
                    <a><i class="fa-solid fa-phone"></i>064/77.77.77</a>
                    <a href="contact.html"><i class="fa-regular fa-file"></i>Formulaire de contact</a>
                    <a href="#bandePromo"><i class="fa-solid fa-arrow-up"></i>Retour haut de page</a>
                </div>
                <div id="reseauxF1Shop">
                    <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i>Facebook F1ForFans</a>
                    <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i>Instagram F1ForFans</a>
                    <a href="https://x.com"><i class="fa-solid fa-x"></i>X F1ForFans</a>
                </div>
            </div>
            <p id="copyrightF1Shop">Le contenu de ce site est protégé par les droits d'auteur et demeure la propriété de F1ForFans.</p>
        </footer>
    </body>
</html>