<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Portfolio A4</title>
    <link rel="stylesheet" href="portfolio.css">
</head>
<body>

    <div class="page">

        <header>
            <h1>Portfolio Harmegnies Valentin</h1>
            <p>Mes projets</p>
        </header>

        <section class="projets">

            <article class="carte">
                <h2>F1ForFans</h2>
                <p>Site autour de la F1 pour pratiquer html et css lors de ma formation.</p>
                <a href="https://harmegniesvalentin.github.io/Exercice-pratique-html-css/view/accueil.html" target="_blank">Voir</a>
            </article>
            <article class="carte">
                <h2>ChocoDelight</h2>
                <p>Site autour du chocolat pour pratiquer html et css lors de ma formation.</p>
                <a href="https://harmegniesvalentin.github.io/chocoDelight/HTML/accueil.html" target="_blank">Voir</a>
            </article>

        </section>
        <section class="projets">

            <article class="carte">
                <h2>CV numérique</h2>
                <p>CV numérique en français et anglais.</p>
                <a href="https://harmegniesvalentin.github.io/CV/view/CVFr.html" target="_blank">Voir</a>
            </article>

            <article class="carte">
                <h2>LDM numérique</h2>
                <p>Lettre de motivation numérique en français et anglais</p>
                <a href="https://harmegniesvalentin.github.io/LettreDeMotivation/view/lettreMotivation.html" target="_blank">Voir</a>
            </article>

        </section>

    </div>

</body>
</html>